
 .hidden-image {
  
  max-width: 50%; 
  height: 30vh; 
  display: block; 
  margin: 0 auto; 
  opacity: 0;
  transform: scale(0.8);
  animation: fadeIn 1.5s ease-out forwards;
  mix-blend-mode: multiply;

}


@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.8);
  }
  to {
      opacity: 1;
      transform: scale(1);
  } 
}
  .content{
    text-align: center;
    margin-top: 100px;
  }
  .content h1{
    font-size: 46px;
    text-transform: uppercase;
    line-height: 0.9em;
    letter-spacing: 3.5px;
    /* font-weight: bold; */
    margin-top: 0;
    color: #84795D;
    font-weight: 500;
    font-family: "josefin sans", sans-serif;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-underline-offset: 8px;
  }
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff6f2;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    
    font-size: 20px;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}
li:hover a{
    color: rgb(180, 3, 3);
    
}
a {
    text-decoration: none;
    color: black;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 8px; 
  /* width: 100vw;  */
  /* height: 100vh;  */
  min-height: 50vh;
  margin-top: 50px;
}
.gallery img {
  width: 100%;
  height: 100%;
  /* height: auto; */
  object-fit: cover;
  border-radius:5px; 
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  box-shadow: none; 
  border: none; 
  border: 1px solid black;  
}

.gallery img:hover {
  transform: scale(1.03); 
  transform-origin: center; 
}
h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 50px;
    color: #84795D;
    font-weight: 500;
    font-family: "josefin sans", sans-serif;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    cursor: pointer;
}
h3:hover{
  color: rgb(180, 3, 3);

}





